@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Covered+By+Your+Grace&family=Inconsolata:wght@700&family=Kanit:wght@600&display=swap');


.container {

    display: flex;
    gap: 1rem;

}

body {
    background-color: #22212C;
    color: #837e9f;
}


h1{
    position: absolute;
    width: 196px;
    height: 26px;
    left: 80px;
    top: 170px;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    color: #837E9F;


}

profile>text1{
position: absolute;
width: 128px;
height: 17px;
left:100px;
top: 220px;
font-size: 15px;
line-height: 16px;
color: #837E9F;
}


profile {

    position: absolute;
    width: 348px;
    height: 292px;
    left: 40px;
    top: 40px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

profile>photo {
    box-sizing: border-box;
    position: absolute;
    width: 128px;
    height: 128px;
    left: 100px;
    top: 50px;
    background-image: url(1.png);
    text-align: center;
    border: 2px solid #00FF00;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: border-animation 2s infinite alternate;
  }

  @keyframes border-animation {
    0% { border-color: #00FF00; }
    25% { border-color: #FF00FF; }
    50% { border-color: #FFFF00; }
    75% { border-color: #00FFFF; }
    100% { border-color: #00FF00; }
  }

myprojects {

    position: absolute;
    width: 952px;
    height: 1200px;
    left: 448px;
    top: 40px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}





recentposts {

    position: absolute;
    width: 952px;
    height: 86px;
    left: 448px;
    top: 373px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

links {
    position: absolute;
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px
}




tecnologies {
    position: absolute;
    width: 348px;
    height: 250px;
    left: 40px;
    top: 740px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
}



.item-list {
    display: flex;
    flex-wrap: wrap;
    color: #837E9F;    
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
  }
  .item-list li {
    width: 33%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #CB92B1;
    border-radius: 10px;
    background-color: #000000;
  }
    